name: Build + SEO

on:
  # schedule:
  #   - cron: '30 12 * * 1-5'  # Runs daily at 12:30 PM UTC (6:00 PM IST) exculding Sunday & Saturday
  workflow_dispatch:  # Allows manual trigger

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install nsepython

    - name: Run SEO script
      run: python n.py

    - name: Commit and Push The Results From Python Selenium Action
      run: |
        # find _site -type f -exec sed -i 's|localhost:4000|https://www.velvetgeneral.me|g' {} +
         git config --global user.name "github-actions[bot]"
         git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
         git add -A
         git commit -m "update" --allow-empty
         git push
